ANTHROPIC_API_KEY=
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=zac@openheartmediaco.com
SENDGRID_FROM_NAME=Zac - Open Heart Media
CALENDLY_URL=https://calendly.com/openheartmediaco/discovery
NOTIFY_EMAILS=zac@openheartmediaco.com,michelle@openheartmediaco.com
LANDING_URL=https://go.openheartmediaco.com/go
DASHBOARD_PASSWORD=
DAILY_SEND_CAP=40
PORT=4100
